$color-primary-minty:#7aeb98;
$color-primary-minty-dark:#61ed86;
$color-primary-minty-darker:#1dde50;
$color-dark-grey:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;

$grid-width: 110rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;

$default-font-size:0.8rem;