
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

// video {
//     object-fit: cover;
//     width:100vw;
//     height: 100vh;
//     position:fixed;
//     top: 0;
//     left: 0;
//     // clip-path: polygon(0 0 , 100% 0,100% 75vh, 0 100% );
     
//   }

// body{

// }
/* .header{
    height: 95vh;
} */